<!DOCTYPE html>
{% load staticfiles %}
{% load sekizai_tags %}

<html >
<head> 
    {% include "meta/meta.html" %}  
       <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'css/prism.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">
 </head>
<style>.ui.card a:hover{
    text-decoration: underline;
}
  .ui.segment {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em;
   border-radius: 0px;  
    border: 1px solid rgba(34,36,38,.15);
}.ui.comments {
    margin: 1.5em 0;
    max-width: 1900px;
}.ui.card .content img, .ui.cards>.card .content img {
    display: block;
    vertical-align: middle;
    width: '';
}
a{
  color: black;
}
a:hover {
  color: black;
 }
 
</style>  

<body> 
<div class="full height">
   <!-- Начало изображение в шапке -->
  <div class="ui one column centered grid">
    <div class="sixteen  "> 
     <a href="/">
      <div style="background:url('{% static 'img/logo4.png' %}'), no-repeat; width:200px;background-size: 200px; height:286px;margin:20px"></div>
    </a>
   </div>
  </div>
<!-- Конец изображение в шапке -->

<!-- Начало  Меню -->
<div class="ui inverted segment">
  <div class="ui   inverted stackable  secondary tabs pointing menu" style="max-width: 70%; margin:0 auto; ">
             <a href="/" class="item  " style="display:block;text-align: center;" >Главная </a>
      {% for catego in category %}
       {% if not catego.parent_id  %}
    
          {% if catego.type_menu == 'p' %}
 
                   <a href="{% url 'page' catego.page.slug %}" class="item  " style="display:block;text-align: center;"  >                    {{catego.name}}
                    </a>

          {% else %}
                </a> <a href="{% url 'category' catego.slug_category %}" class="item  " style="display:block;text-align: center;"  >                    {{catego.name}}
                    </a>
          {% endif %}
         
          

        {% endif %}
  
       {% endfor %}
 
  </div>
</div>
<!-- Конец  Меню -->
<!-- Начало  Контент -->
<div class="ui eleven column container grid">
  {% block content %}
  {% endblock %} 
    <div class="striped" style="
    margin: 10px;
"></div>

</div>
 </div>
 



 
<!-- Конец  Контента -->
<div class="ui black inverted vertical footer segment">
  <div class="ui center aligned container" style="
    padding: 20px 0 0 0;">
    <div class="ui stackable inverted grid">
   
  
        <div class="five wide column">
                <h4 class="ui inverted header">Тэги для поиска</h4>
<div class="ui blue labels">
  {% for tag in tags %}

          <a class="ui label">
    {{tag}}
  </a>
  
       {% endfor %}
 
</div>
        </div>
            <div class="five wide column">
        <h4 class="ui inverted header">О проекте</h4>
         <div class="ui inverted">    
Сайт создан с помощью Django v1.9.5. <br>Весь код размешён на Github.
          </div>
        <div class="ui inverted link list">
                        <a class="item" href="http://1.semantic-ui.com"><i class="big github icon"></i>

</a>
          <a class="item" href="http://legacy.semantic-ui.com"><i class="big youtube play icon"></i></a>

          <a class="item" href="http://legacy.semantic-ui.com"><i class="big vk icon"></i></a>


        </div>
      </div>
      <div class="five wide right floated column  ">
<div class="ui medium rectangle test ad"  style="margin: 0 auto;" data-text="Medium Rectangle"></div>

      </div>
    </div>
    <div class="ui inverted section divider"></div>
     <div class="ui horizontal inverted small divided link list ">
      <a class="item">Copyright by Mr.Byte 2015-2016</a>
    </div>
  </div>
</div>
 






  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="{% static 'semantic.min.js' %}"></script> 
  <script type="text/javascript" src="{% static 'js/prism.js' %}"></script>
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>

  <script>


    $('img').addClass('ui centered large image');


  </script>

</body>
</html>