{% extends 'base.html' %}

{% block content %}

<style type="text/css">
	.ui.card .content img, .ui.cards>.card .content img {
    display: block; 
    vertical-align: middle;
    width: '';

}a:hover {
  color: black;
  }
</style>
<div class="row"> 
	<div class="ui  card fluid">
		<div class="content">
			<h1 class="header"  >{{ article }}</h1>
			<div class="meta"  >
				{{ article.time }}   
			</div>
		</div>
		<div class="content"> 
			<div class="description" style="text-align: left;">
				{{ article.content|safe }}
			</div>


		</div>
		<div class="extra content">
			<span class="left floated">
				<a href="{% url 'i_like_it' article.slug %}">   

					<i class="heart outline like icon"></i>
					{{ article.likes }} </a>
				</span>


				<span class="right floated">
 				Тэги:{% for tag in article.tags.all %}
					        <a href="{% url 'tag' tag.slug %}"> {{tag.name}}</a>
					{% endfor %}
				</span>

			</div>

		</div>
<div class="ui one column container grid">
<div class="column">
		<div class="ui     comments">
			{% if comment %}
			<h3 class="ui dividing header ">Комментарии</h3>
			{%  for commen in comment %}
			{% if not commen.anser_on_id %}
			<div class="comment">
				<div class="content">
					<span class="author">{{commen.name}}</span>
					<div class="metadata">
						<span class="date">{{commen.time}}</span>
					</div>
					<div class="text">
						{{commen.comment|safe}}
					</div>
					<div class="actions">
						<a data='{{commen.name}}' onclick="iHaveAnswer(this)" id='{{commen.id}}' href="#answer" class="reply">Ответить</a>
					</div>
				</div>
				{%  for comme in comment %}
				{% if comme.anser_on_id == commen.id %}
				<div class="comments">
					<div class="content">
						<a class="author">{{comme.name}}</a>
						<div class="metadata">
							<span class="date">{{comme.time}}</span>
						</div>
						<div class="text">
							{{comme.comment|safe}}
						</div>
						<div class="actions">
							<a data='{{comme.name}}' onclick="iHaveAnswer(this)" id='{{comme.id}}' href="#answer" class="reply">Ответить</a>
						</div>
					</div>
				</div>


				{% endif %}
				{% endfor %} 

			</div>




			{% endif %}
			{% endfor %}
			{% endif %}   
			</div>

</div>
<div class="column">
			<form  id="answer" action="/article/{{article.slug}}" method="post" class="ui form">
 			<h3 class="ui dividing header "  id="answer_title">Добавить комментарий</h3>

				<div class="field">
					<label>{{ comment_form.name.label }}</label>
 					<input type="text" name="name" style="max-width: 300px" placeholder="{{ comment_form.name.label }}">
				</div>
				<div class="field">
					<label>{{ comment_form.email.label }}</label>
					<input type="text" name="email" style="max-width: 300px" placeholder="{{ comment_form.email.label }}">
				</div>
 				<div class="field">
					<label>Комментарий</label>
					{{ comment_form.comment }}
				</div>
 				<div class="field">
 									<label>Каптча</label>
			 {{ comment_form.captcha }}
		 </div>
		 {{ comment_form.anser_on }}
				<button class="ui blue labeled submit icon button right floated" type="submit"> <i class="icon edit"></i> Добавить</button>
			</form>
		</div> 
</div>

 
<style type="text/css">
	#id_anser_on{
		display: none;
	}
</style>
<script type="text/javascript">
	function iHaveAnswer(object)
	{
		var answer_id = object.id;
		$('#id_anser_on').val(answer_id);
		$('#answer_title').text('Ответить пользователю '+ object.getAttribute('data'))
		$('html,body').stop().animate({ scrollTop: $('#answer').offset().top }, 1000);
	}
</script>
 


{% endblock%}