{% extends 'base.html' %}


{% block content %}
  <style type="text/css" media="screen">
   .card .card-content p {
    margin: 10px 0;
    color: inherit;
} .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #f44336;
    margin-right: 5px;
    transition: color .3s ease;
    text-transform: none;
  }
  .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #ef9a9a;
  }
  .chip i.material-icons {
    cursor: pointer;
    float: left;
    padding-right: 8px;
    font-size: 16px;
    line-height: 32px;
    padding-left: 0px; }
    select {
      display: block;
    }
    h1 {
    font-size: 2.2rem;
    line-height: 110%;
    margin:1.0rem 0 1.0rem 0;
}
 </style>
    
      


 

   
        
 
   
 

{% endblock %}