{% extends 'base.html' %}

 
{% block content %}

    
     
         {% for article in articles %}
          <div class="row"> 
 <div class="ui  card fluid">
  <div class="content">
                        
<h1 class="header" style="text-align: left;"> <a href="{% url 'article' article.slug %}">{{ article }}</a></h1>
     <div class="meta" style="text-align: left;">
 {{ article.time }}   
    </div>
  </div>
  <div class="content"> 
  <div class="description" style="text-align: left;">
             {{ article.summary|safe }} 
  </div>
       
      
  </div>
  <div class="extra content">
 <span class="left floated">        
      <a href="{% url 'i_like_it' article.slug %}">   
          <i class="heart outline like icon"></i>
      </a>
      {{ article.likes }} 
    </span>


     <span class="right floated">

      {% for categ in article.category.all %}
            <a href="{% url 'article' article.slug %}">{{categ.name}}</a>
       {% endfor %}
    </span>

 </div>

</div>
</div>
     {% endfor %}
  <style>
.ui.card .content img, .ui.cards>.card .content img {
    display: block;
    vertical-align: middle;
    width: '';
}
a{
  color: black;
}
a:hover {
  color: black;
 }
</style>


 

   <div class="row centered">
        <div class="ui pagination menu">
  <a class="active item">
    1
  </a>
  <div class="disabled item">
    ...
  </div>
  <a class="item">
    10
  </a>
  <a class="item">
    11
  </a>
  <a class="item">
    12
  </a>
</div>
 </div>
         
 

{% endblock %}